@{
    ViewBag.Title = "View Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Logs</h2>

<div class="">
    <table id="auditTable" class="table dt-responsive nowrap" style="width: 100%;">
        <thead>
        <tr>
            <th>UserName</th>
            <th>IPAddress</th>
            <th>Timestamp</th>
            <th>AreaAccessed</th>
            <th>SessionId</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function() {
            $('#auditTable').DataTable({
                ajax: {
                    url: "/api/audits",
                    dataSrc: ""
                },
                order: [[2, "desc"]],
                columns: [
                    { data: "UserName"},
                    { data: "IPAddress"},
                    { data: "Timestamp" },
                    { data: "AreaAccessed"},
                    { data: "SessionId" },
                    {
                        data: "Data",
                        render: function(data) {
                            return "<div class='audit-data' title='" + data + "'>" + data + "</div>";
                        }
                    }
                ]
            });
        });
    </script>
}