<appSettings>
  <add key ="GoogleClientId" value="170311956628-k68eunq35k4p7cfpsr229tag8d75e82u.apps.googleusercontent.com"/>
  <add key ="GoogleClientSecret" value="1009vYh2sPjA2Gx5JAzX9iHn"/>

  <add key ="FacebookAppId" value="378458759238197"/>
  <add key ="FacebookAppSecret" value="0cb4a3efe5814300c2fa8d9f6b0b560b"/>

  <add key ="TwitterApiKey" value="zPyoPo1DpvewKhOuy1KTxABHp"/>
  <add key ="TwitterApiSecret" value="8HZcG5LRkwZBCsrUtTIjNj8jfieahfqwSN0w8AeyVI5nhPlqao"/>

  <add key="AwsAccessKeyId" value="AKIAJLEMDINPDZXIURTA"/>
  <add key="AwsSecretAccessKey" value="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"/>
</appSettings>