<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    @Html.ActionLink("Terms & Conditions", "Terms", "Manage")
                    |
                    @Html.ActionLink("Privacy Policy", "Privacy", "Manage")
                </p>
            </div>
            <div class="col-sm-6">
                <p>&copy; @DateTime.Now.Year - @Html.ActionLink("TourPic", "Index", "Home")</p>
            </div>
        </div>
    </div>
</footer>
