<div id="imageModal" class="modal overlay">
    <span class="close" onclick="document.getElementById('imageModal').style.display='none'">&times;</span>
    @*<a href="#" class="carousel-control left">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
    <a href="#" class="carousel-control right">
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>*@
    
    <div class="img-responsive">
        <img class="modal-content" id="modal-img" alt="modal image" />
    </div>
    <div class="caption"></div>
</div>

