
@{
    ViewBag.Title = "Upload your tour photo's";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="lead">Drop your photos in the area below or click inside to select your photos for upload.</p>

@using (Html.BeginForm("UploadImage", "Image", FormMethod.Post, new {enctype = "multipart/form-data", @class = "dropzone", id = "dropzoneForm"}))
{
    <div class="fallback">
        <p>Select your files for upload</p>
        <div class="form-group">
            <input name="file" type="file" multiple/>
        </div>
        <input type="submit" value="Add files" class="btn btn-default"/>
    </div>
}

<a href="@Url.Action("ConfirmUpload", "Image")" class="btn btn-primary hidden" id="btnUpload">
    Upload Photos
    <i class="glyphicon glyphicon-chevron-right"></i>
</a>

@section Scripts {
    @Scripts.Render("~/bundles/dropzone")
    <script>
        Dropzone.options.dropzoneForm = {
            acceptedFiles: "image/*",
            maxFilesize: 10,
            //uploadMultiple: true,
            addRemoveLinks: true,
            parallelUploads: 1,
            init: function() {
                this.on("queuecomplete", function(e) {
                    $("#btnUpload").removeClass("hidden");
                    console.log("queuecomplete", e);
                });
                this.on("reset", function() {
                    $("#btnUpload").addClass("hidden");
                });
                this.on("addedfile", function(e) {
                    console.log("addedfile", this, e);
                });
                this.on("completed", function(e) {
                    console.log("completed", this, e);
                });
                this.on("success", function(file, response) {
                    console.log("success", this, file, response);
                });
                this.on("removedfile", function (e) {
                    console.log("removedfile", this, e);

                    //$.ajax({
                    //    url: "/api/image/"
                    //});
                });
            }
        }
    </script>
}