
@{
    ViewBag.Title = "Upload your tour photo's";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="lead">Drop your photos in the area below or click inside to select your photos for upload.</p>

@using (Html.BeginForm("SaveUploadedFile", "Image", FormMethod.Post, new {enctype = "multipart/form-data", @class = "dropzone", id = "dropzoneForm"}))
{
    <div class="fallback">
        <p>Select your files for upload</p>
        <div class="form-group">
            <input name="file" type="file" multiple/>
        </div>
        <input type="submit" value="Add files" class="btn btn-default"/>
    </div>
}

<a href="@Url.Action("ConfirmUpload", "Image")" class="btn btn-primary hidden" id="btnUpload">
    Upload Photos
    <i class="glyphicon glyphicon-chevron-right"></i>
</a>

@section Scripts {
    @Scripts.Render("~/bundles/dropzone")
    <script>
        Dropzone.options.dropzoneForm = {
            acceptedFiles: "image/*",
            maxFilesize: 10,
            uploadMultiple: true,
            addRemoveLinks: true,
            parallelUploads: 10,
            init: function() {
                this.on("queuecomplete", function() {
                    $("#btnUpload").removeClass("hidden");
                });

            }
        }
    </script>
}