@{
    ViewBag.Title = "Delete My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete My Account</h2>

<p>This will permanently remove your user profile and any images or tours created by your profile.</p>

<p>This action cannot be undone!</p>

<p class="lead">Are you sure you want to delete your own account?</p>

<p>@Html.ActionLink("Delete My Account", "ConfirmDelete", null, new{@class="btn btn-primary"})</p>