@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@screen-xs-min: ~"(min-width: 400px)";
/* Small devices (tablets, 768px and up) */
@screen-sm-min: ~"(min-width: 768px)";
/* Medium devices (desktops, 992px and up) */
@screen-md-min: ~"(min-width: 992px)";
/* Large devices (large desktops, 1200px and up) */
@screen-lg-min: ~"(min-width: 1200px)";

.m-w-300 {
    max-width: 300px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Droid+Sans', Arial, sans-serif;
}

.wrapper {
    /*display: flex;*/
    /* TODO flexbox not working in edge */
    flex-direction: column;
    min-height: 100%;
    
    &>.container {
         flex: 1;
         margin-bottom: 50px;
    }
}

footer {
    background-color: #474949;
    border-top: 1px solid #2e2f2f;
    color: #fff;
    padding: 40px 0;
    a {
        color: #fff;
        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}

.dropzone {
    min-height: 300px;
    border: 1px dashed #b81e0d;
    margin-bottom: 20px;
    border-radius: 4px;
    &:hover {
        border-style: dotted;
    }
}

.m-t {
    margin-top: 10px;
}

textarea {
    min-height: 100px;
}

.image {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        opacity: 0.7;
    }
}

@-moz-keyframes zoom {
0%{
    height:200px;
    width:200px;
}
100% {
    width: 1000px;
    height: 1000px;
}
}

@-webkit-keyframes zoom {
0%{
    height:200px;
    width:200px;
}
100% {
    width: 1000px;
    height: 1000px;
}
}    

.overlay {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);

    .modal-content {
        background-color: inherit;
        margin-top: 20px;
        max-height: 500px;
    }

    .modal-content,
    .caption {
        margin: auto;
        display: block;
        width: 50%;
    }

    .caption {
        text-align: center;
        color: #ccc;
        padding: 10px;
        height: 150px;
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    .close {
        color: #f1f1f1;
        position: absolute;
        top: 15px;
        right: 35px;
        font-size: 40px;
        opacity: 1;
        z-index: 2000;

        &:hover,
        &:focus {
            color: #bbb;
        }
    }
}

.image-filters {
    text-align: center;
    padding: 10px 10px 5px 10px;
    .form-control {
        margin: 0 auto 10px;
    }
    .form-control,
    .btn {
        margin-bottom: 5px;
    }
}

.sort {
    padding-right: 15px;
    &::after {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        content: "";
        position: relative;
        top: -10px;
        right: -4px;
    }

    &.asc::after {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #fff;
        content: "";
        position: relative;
        top: 11px;
        right: -4px;
    }

    &.desc::after {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #fff;
        content: "";
        position: relative;
        top: -9px;
        right: -4px;
    }
}

.list-tour-images {
    margin: 0;

    > li {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;

        @media @screen-xs-min {
            width: 50%;
        }

        @media @screen-sm-min {
            width: 33.33333333%;
        }

        @media @screen-md-min {
            width: 25%;
        }
    }

    .thumbnail {
        position: relative;
        padding: 0;
        margin-bottom: 10px;
        border-radius: 0;
        border: none;

        @media @screen-xs-min {
            margin-left: 5px;
            margin-right: 5px;
        }

        .img-data {
            position: absolute;
            left: 50%;
            bottom: 5px;
            width: 90%;

            .owner,
            .img-caption {
                display: block;
                position: relative;
                left: -50%;
                color: white;
                text-shadow: 2px 2px 8px #444;
            }

            .owner {
                bottom: 5px;
            }

            .img-caption {
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }

    .date {
        display: none;
    }
}

.tour-header {
    position: relative;
    margin-bottom: 20px;

    img {
        margin: 0 auto;
    }

    .tour-text {
        position: absolute;
        bottom: 10%;
        left: 50%;
        width: 90%;
    }

    .tour-title {
        position: relative;
        color: white;
        top: 50%;
        left: -50%;
        text-align: center;
    }

    .tour-description {
        position: relative;
        color: white;
        top: 75%;
        left: -50%;
        text-align: center;
    }
}

.media-heading {
    font-weight: bold;

    @media @screen-sm-min {
        display: inline;
    }
}

.panel-heading {
    font-weight: bold;
}

.media-object {
    width: 64px;
    height: 64px;
}

.img-pending {
    border: 1px solid #b81e0d;
}

.my-photos {
    .thumbnail {
        margin-bottom: 0;
    }
}

.navbar {
    border-radius: 0;
}