@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.m-w-300 {
  max-width: 300px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Droid+Sans', Arial, sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper > .container {
  flex: 1;
  margin-bottom: 50px;
}
footer {
  background-color: #474949;
  border-top: 1px solid #2e2f2f;
  color: #fff;
  padding: 40px 0;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #fff;
  text-decoration: underline;
}
.dropzone {
  min-height: 300px;
  border: 1px dashed #b81e0d;
  margin-bottom: 20px;
  border-radius: 4px;
}
.dropzone:hover {
  border-style: dotted;
}
.m-t {
  margin-top: 10px;
}
textarea {
  min-height: 100px;
}
.list-inline > li {
  margin-bottom: 10px;
}
.image {
  cursor: pointer;
  transition: 0.3s;
}
.image:hover {
  opacity: 0.7;
}
@-moz-keyframes zoom {
  0% {
    height: 200px;
    width: 200px;
  }
  100% {
    width: 1000px;
    height: 1000px;
  }
}
@-webkit-keyframes zoom {
  0% {
    height: 200px;
    width: 200px;
  }
  100% {
    width: 1000px;
    height: 1000px;
  }
}
.overlay {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
}
.overlay .modal-content {
  background-color: inherit;
  margin-top: 20px;
  max-height: 500px;
}
.overlay .modal-content,
.overlay .caption {
  margin: auto;
  display: block;
  width: 50%;
}
.overlay .caption {
  text-align: center;
  color: #ccc;
  padding: 10px;
  height: 150px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.overlay .close {
  color: #f1f1f1;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  opacity: 1;
  z-index: 2000;
}
.overlay .close:hover,
.overlay .close:focus {
  color: #bbb;
}
.image-filters {
  text-align: center;
  padding: 10px 10px 5px 10px;
}
.image-filters .form-control {
  margin: 0 auto 10px;
}
.image-filters .form-control,
.image-filters .btn {
  margin-bottom: 5px;
}
.sort {
  padding-right: 15px;
}
.sort::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -4px;
}
.sort.asc::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  content: "";
  position: relative;
  top: 11px;
  right: -4px;
}
.sort.desc::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
  content: "";
  position: relative;
  top: -9px;
  right: -4px;
}
.list-tour-images {
  margin: 0;
}
.list-tour-images > li {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
@media (min-width: 400px) {
  .list-tour-images > li {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .list-tour-images > li {
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .list-tour-images > li {
    width: 25%;
  }
}
.list-tour-images .thumbnail {
  position: relative;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 0;
  border: none;
}
@media (min-width: 400px) {
  .list-tour-images .thumbnail {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.list-tour-images .thumbnail .img-data {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 90%;
}
.list-tour-images .thumbnail .img-data .owner,
.list-tour-images .thumbnail .img-data .img-caption {
  display: block;
  position: relative;
  left: -50%;
  color: white;
  text-shadow: 2px 2px 8px #444;
}
.list-tour-images .thumbnail .img-data .owner {
  bottom: 5px;
}
.list-tour-images .thumbnail .img-data .img-caption {
  font-weight: bold;
  margin-bottom: 5px;
}
.list-tour-images .date {
  display: none;
}
.tour-header {
  position: relative;
  margin-bottom: 20px;
}
.tour-header img {
  margin: 0 auto;
}
.tour-header .tour-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 90%;
}
.tour-header .tour-title {
  position: relative;
  color: white;
  top: 50%;
  left: -50%;
  text-align: center;
}
.tour-header .tour-description {
  position: relative;
  color: white;
  top: 75%;
  left: -50%;
  text-align: center;
}