@{
    ViewBag.Title = "TourPic";
}

<h1>TourPic</h1>
<p class="lead">Sharing your tour photos</p>

        <h2>My Tours</h2>
        <p>View the photos from my tours</p>
        <a href="@Url.Action("Index", "Tour")" class="btn btn-primary">
            <i class="glyphicon glyphicon-road"></i>
            View my tours
        </a>
        <h2>My Photos</h2>
        <p>View my photos that I have uploaded</p>
        <a href="@Url.Action("Index", "Image")" class="btn btn-primary">
            <i class="glyphicon glyphicon-picture"></i>
            View my photos
        </a>




